.items-list{width:100%;font-size:18px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;color:#333}
.items-list th,.items-list td{padding:8px;line-height:14px;text-align:center;vertical-align:middle;border-top:1px solid #ddd}
.item-list td:hover{background-color:Snow}
.backgrid .paginator ul > li > a,.backgrid .paginator ul > li > span{width:40px;color:SlateBlue}
