/* Mixins */

// Shadows for top or bottom of the page
body-shadow(pos)
    content ""
    position fixed
    if pos is 'top'
        top -10px
    else
        bottom -10px
    left 0
    width 100%
    height 10px
    z-index 100
    box-shadow 0px 0px 10px rgba(0,0,0,.8)

// Center text in div
center(w, h)
    position: absolute
    top: 50%
    left: 50%
    text-align: center
    width: w
    height: h
    line-height: h + 15
    margin-left: -(@width / 2)
    margin-top: -(@height / 2)

// Draw a circle with radius, width and color
circle(r, w, c)
    border-radius: 50%
    width: r
    height: r
    border: w double c;

// Use image from patterns as background
pattern(name)
    background-image: url('../img/pattern/' + name + '.png')

// Unselectable element
unselectable()
    -moz-user-select: -moz-none
    -khtml-user-select: none
    -webkit-user-select: none

