@import 'mixins/effects'

.loader-wrapper
  position: absolute
  top: 47%
  left: 48%

.loader
    position: absolute
    top: 20px
    z-index:1000
    display: none

.loader-left
    @extends .loader
    left: 1%

.message
    letterpress()
    position: absolute
    line-height: 60px
    top: 0px

.message-left
    @extends .message
    left: 95px

base-circle(radius)
  background-color: rgba(0,0,0,0)
  border: 5px solid #1d95d1
  opacity: .9
  border-right: 5px solid rgba(0,0,0,0)
  border-left: 5px solid rgba(0,0,0,0)
  border-radius: 50px
  box-shadow: 0 0 35px #007CB9
  width: radius
  height: radius
  margin: 0 auto

animation(type, length subtype)
  -moz-animation: type length infinite subtype
  -webkit-animation: type length infinite linear

.outer-circle
  base-circle 50px
  animation spinPulse 2s ease-in-out

.inner-circle
  base-circle 30px
  position: relative
  top: -50px
  animation spinoffPulse 1s linear

@keyframes spinPulse
    0%
        transform:rotate(160deg)
        opacity:0
        box-shadow:0 0 1px #007CB9
    50%
        transform:rotate(145deg)
        opacity:1
    100%
        transform:rotate(-320deg)
        opacity:0

@keyframes spinoffPulse
    0%
        transform:rotate(0deg)
    100%
        transform:rotate(360deg)
