@import 'nib'

@import 'mixins/funs'
@import 'mixins/effects'

@import 'elements/buttons'
@import 'elements/toolbars'
@import 'elements/favorites'


/* Core elements */

* {
    margin: 0;
}

// Page background
html, body
    height: 100%

// Top and bottom of the page
body:before
    body-shadow 'top'
    font-size: 100%

body:after
    body-shadow 'bottom'

/* Core elements end */

/* Title page */

// Home page background
.home
    height: 100%

    font-size: 20px
    pattern('arches')
    position: relative

// Centerpiece of page (kanji, info, message and so on)
.center-kanji
    center(500px, 500px)

// Kanji border
.circle
    circle 500px 4px #ccc

    box-shadow 0px 0px 10px rgba(0,0,0,.8)
    pattern('subtle')
    //pattern('escheresque')
    transition: all 0.4s ease-in-out

// Kanji itself
.kanji
    font-size: 350px
    font-family: 'IPAMincho', 'TakaoExMincho'
    letterpress()
    unselectable()
    transition: all 0.7s ease-in-out

// Circle & kanji on hover
.circle:hover
    cursor: pointer
    background: black
    opacity: 0.7
    border: 4px double #fff
    transition: all 0.4s ease-in-out
    transform: scale(1.1);

.kanji:hover
    burn()
    transition: all 0.7s ease-in-out

.circle-locked
    @extends .circle:hover

.kanji-locked
    @extends .kanji:hover
    opacity: 0.75

.locked
    color: #007CB9

// Tooltipster custom theme
.tooltipster-theme
    border-radius: 5px
    background: #fff
    box-shadow: 0px 0px 14px rgba(0,0,0,0.3)
    color: #2c2c2c

.tooltipster-theme .tooltipster-content
    font-family: 'Volcorn', Georgia, serif
    font-size: 18px
    line-height: 16px
    text-align: center
    padding: 8px 10px
    letterpress()

    code
        color: gray

    kana
        font-family: 'IPAMincho','TakaoExMincho'

/* Title page end */

/* Error page */

// Error page background
.error
    height: 100%
    pattern('woven')
    font-size: 30px

// Error message
.center-error
    center(100%, 100px)
    pattern('white_tiles')
    letterpress()
    box-shadow 0px 0px 10px #fff

/* Error page end */
