<!DOCTYPE html>
<html lang="en" itemtype="http://schema.org/WebPage" itemscope=""
    xmlns:og="http://opengraphprotocol.org/schema/">
	<head>

        {% block javascript %}
            <script src="/media/js/furigana.js"></script>
        {% endblock %}
        <!--<script type="text/javascript" src="/media/js/furigana.js"></script>-->
		<!--<link type="text/css" rel="stylesheet" href="/media/css/main_template.css"/>-->

		<title> Suzu Lazy Aggregator </title>
	</head>

	<body>

		{% block content %} {% endblock %}

	</body>

</html>
