<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en">

    <!-- Title, meta, stylesheets -->
    <head>

        <!-- Stylesheets ahead -->
        {% block stylesheet %}
            <link href="/media/css/all.in.one.css" rel="stylesheet">
            <!-- Google fonts -->
            <link href='http://fonts.googleapis.com/css?family=Vollkorn'
                rel='stylesheet' type='text/css'>
        {% endblock %}

        <title> Suzu Lazy Aggregator </title>

    </head>

    <!-- Content, JS -->
    <body>

        <!-- Content goes here -->
        {% block content %} {% endblock %}

        <!-- Javascript at the end of the body -->
        {% block javascript %}
            <script src="/media/js/all.in.one.js"></script>
        {% endblock %}

    </body>

</html>
