<!DOCTYPE html>
<html lang="en" itemtype="http://schema.org/WebPage" itemscope=""
    xmlns:og="http://opengraphprotocol.org/schema/">
	<head>

        {% block javascript %}
            <script src="/media/js/jquery-1.8.2.min.js"></script>
            <script src="/media/bootstrap/js/bootstrap.min.js"></script>
            <script src="/media/js/furigana.js"></script>
        {% endblock %}

        {% block stylesheet %}
            <link href="/media/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        {% endblock %}

		<title> Suzu Lazy Aggregator </title>
	</head>

	<body>

		{% block content %} {% endblock %}

	</body>

</html>
