{% extends "base.html" %}

{% block content %}

    <div class="home">

        <div class="loader-left">
            <div class="outer-circle"></div>
            <div class="inner-circle"></div>
            <div class="message-left">Wait...</div>
        </div>

        <!-- Kanji itself -->
        <div class="center-kanji">
            <div class="circle">
                <div class="kanji">
                    {{ kanji.value }}
                </div>
            </div>
        </div>


        <!-- Usage decomposition -->
        <div class="toolbar-right">
            <div class="content-right"></div>
        </div>

        <!-- Examples for usages -->
        <div class="toolbar-left">
            <div class="content-left"></div>
        </div>

        <div class="toolbar-top"
            {% if lock: %}
            style="display:block"
            {% endif %}
            >
            <!-- Kanji compounds and usages -->
            {% for usage in kanji.usages() %}
            <span class="tooltip" title="{{ usage.translation()|e }}">
                <ruby id={{ usage.id }}>
                    <rb>
                    {{ usage.emphasize(usage.value(), kanji.value) }}
                    </rb>
                    <rp>/</rp>
                    <rt>
                    {{ usage.emphasize(usage.reading(), kanji.reading()) }}
                    </rt>
                    <rp>/</rp>
                </ruby>
            </span>
            {% endfor %}

            {% if(not kanji.usages()) %}
            <!-- todo: implement js-call -->
                <a href="#" class="lookup-button">No usages found. Click here to lookup.</a>
            {% endif %}

            <div class="info-right tooltip"
                title="Kanji compounds and usages">熟語</div>
        </div>

        <div class="toolbar-bottom"
            {% if lock: %}
            style="display:block"
            {% endif %}
            >

            <div class="buttons-left">
                <a href="#" id="roll" class="tool-button icon-lock tooltip"
                    title="Roll random kanji for today"></a>
                <a href="#" id="link" class="tool-button icon-link tooltip"
                    title="Get direct link for current kanji"></a>
            </div>

            <div class="info-right tooltip"
                title="Radical decompostion for kanji">部首</div>

            <!-- Page info -->
            <div class="help" style="display:none">
                Click on kanji to toggle toolbar lock.
                Mouse over kanji usage to display definition.
                Middle click on kanji to load random kanji.
            </div>

            <!-- Radicals for kanji -->
            <div class="rads">
                {% for rad in radicals %}
                <!-- Radikal info -->
                <span class="rad tooltip"
                    {% if rad_info.get(rad): %}
                    title="{{
                    '<kana>%s</kana> <code>|</code> <em>%s</em> <code>|</code> %s' % (
                            rad_info.get(rad)['name'],
                            rad_info.get(rad)['primitive'],
                            rad_info.get(rad)['strokes']
                        )
                    }}
                    {% else: %}
                        title="Could not find radical!
                    {% endif %}
                    ">
                    {{ rad }}
                </span>
                {% endfor %}
            </div>

        </div>

    </div>

{% endblock %}
