{% extends "base.html" %}

{% block content %}

    <div class="home">

        <div class="loader-left">
            <div class="outer-circle"></div>
            <div class="inner-circle"></div>
            <div class="message-left">Loading...</div>
        </div>

        <div class="loader-right">
            <div class="outer-circle"></div>
            <div class="inner-circle"></div>
            <div class="message-right">Loading...</div>
        </div>

        <!-- Kanji itself -->
        <div class="center-kanji">
            <div class="circle">
                <div class="kanji">
                    {{ kanji.value }}
                </div>
            </div>
        </div>

        <!-- Usage decomposition -->
        <div class="toolbar-right">
        </div>

        <!-- Examples for usages -->
        <div class="toolbar-left">
        </div>

        <div class="toolbar-top">
            <!-- Kanji compounds and usages -->
            {% for usage in kanji.usages() %}
                <ruby id={{ usage.id }}>
                    <rb>
                    {{ usage.emphasize(usage.value(), kanji.value) }}
                    </rb>
                    <rp>/</rp>
                    <rt>
                    {{ usage.emphasize(usage.reading(), kanji.reading()) }}
                    </rt>
                    <rp>/</rp>
                </ruby>
            {% endfor %}

            {% if(not kanji.usages()) %}
                <p>No usages found</p>
            {% endif %}
        </div>

        <div class="toolbar-bottom">
            <!-- Page info -->
            <div class="help" style="display:none">
                Click on kanji to toggle toolbar lock.
                Mouse over kanji usage to display definition.
                Middle click on kanji to load random kanji.
            </div>

            <!-- Radikals for kanji -->
            <div class="rads">
                {% for rad in radikals %}
                <span class="rad">{{ rad }}</span>
                {% endfor %}
            </div>

            <div class="example" style="display:none">
            </div>

            <!-- Definitions for all of the displayed usages -->
            {% for usage in kanji.usages() %}
                <div id={{ usage.id }} class="definition">
                    {{ usage.translation() }}
                </div>
            {% endfor %}


            <div style="display: none">
                <a class='toggle-button' href='#'>Toggle!</a>
                <a class='toggle-button' href='#'>Roll!</a>
                <a class='toggle-button' href='#'>Info!</a>
            </div>

            <ul class="nav" style="display: none"> 
              <li><a href="#" class="info">Info</a></li> 
              <li><a href="#" class="roll">Roll</a></li> 
              <li><a href="#" class="find">Find</a></li> 
            </ul> 

        </div>

    </div>

{% endblock %}
