{% extends "base.html" %}

{% block content %}

    <div class="home">

        <div class="loader-left">
            <div class="outer-circle"></div>
            <div class="inner-circle"></div>
            <div class="message-left">Wait...</div>
        </div>

        <!-- Kanji itself -->
        <div class="center-kanji">
            <div class="circle">
                <div class="kanji">
                    {{ kanji.value }}
                </div>
            </div>
        </div>


        <!-- Usage decomposition -->
        <div class="toolbar-right">
        </div>

        <!-- Examples for usages -->
        <div class="toolbar-left">
        </div>

        <div class="toolbar-top"
            {% if lock: %}
            style="display:block"
            {% endif %}
            >
            <!-- Kanji compounds and usages -->
            {% for usage in kanji.usages() %}
            <span class="tooltip" title="{{ usage.translation()|e }}">
                <ruby id={{ usage.id }}>
                    <rb>
                    {{ usage.emphasize(usage.value(), kanji.value) }}
                    </rb>
                    <rp>/</rp>
                    <rt>
                    {{ usage.emphasize(usage.reading(), kanji.reading()) }}
                    </rt>
                    <rp>/</rp>
                </ruby>
            </span>
            {% endfor %}

            {% if(not kanji.usages()) %}
                <p class="notice">No usages found</p>
            {% endif %}
        </div>

        <div class="toolbar-bottom"
            {% if lock: %}
            style="display:block"
            {% endif %}
            >

            <!-- Page info -->
            <div class="help" style="display:none">
                Click on kanji to toggle toolbar lock.
                Mouse over kanji usage to display definition.
                Middle click on kanji to load random kanji.
            </div>

            <!-- Radicals for kanji -->
            <!-- TODO: when clicking on radical, display kanji from:
                http://nuthatch.com/kanji/demo/radicals.html
                TODO: use font containing non-SJIS glyphs (chinese?)
            -->
            <div class="rads">
                {% for rad in radicals %}
                <!-- Radikal info -->
                <span class="rad tooltip"
                    {% if rad_info.get(rad): %}
                    title="{{
                    '<kana>%s</kana> <code>|</code> <em>%s</em> <code>|</code> %s' % (
                            rad_info.get(rad)['name'],
                            rad_info.get(rad)['primitive'],
                            rad_info.get(rad)['strokes']
                        )
                    }}
                    {% else: %}
                        title="Could not find radical!
                    {% endif %}
                    ">
                    {{ rad }}
                </span>
                {% endfor %}
            </div>

            <div class="example" style="display:none">
            </div>

            <!-- Definitions for all of the displayed usages -->
            <!-- TODO: may show japanese example instead? -->

            <div style="display: none">
                <a class='toggle-button' href='#'>Toggle!</a>
                <a class='toggle-button' href='#'>Roll!</a>
                <a class='toggle-button' href='#'>Info!</a>
            </div>

            <ul class="nav" style="display: none"> 
              <li><a href="#" class="info">Info</a></li> 
              <li><a href="#" class="roll">Roll</a></li> 
              <li><a href="#" class="find">Find</a></li> 
            </ul> 

        </div>

    </div>

{% endblock %}
