{% extends "base.html" %}

{% block stylesheet %}
    <link href="/media/css/backgrid.min.css" rel="stylesheet">
    <link href="/media/css/backgrid-paginator.min.css" rel="stylesheet">
    <link href="/media/css/table.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <table id="items" class="items-list">
        <caption>Items available</caption>
    </table>

{% endblock %}

{% block javascript %}
    <script src="/media/js/jquery-2.0.0.min.js"></script>
    <script src="/media/js/underscore-min.js"></script>
    <script src="/media/js/backbone-min.js"></script>
    <script src="/media/js/backbone-pageable.min.js"></script>
    <script src="/media/js/backgrid.min.js"></script>
    <script src="/media/js/backgrid-paginator.min.js"></script>
    <script src="/media/js/list.js"></script>
{% endblock %}
