{% extends "base.html" %}

{% block content %}

    <div class="page-header"><h1>{{ term }}</h1></div>
    <!-- TODO: definitions, gloss, similar -->

    <div class="accordion" id="examples">
    {% for example in examples %}
     <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse"
                data-parent="#examples" href="#collapse{{ loop.index }}">
                {% for word, reading in example.get('readings') -%}
                    <ruby>
                        <rb>{{ word }}</rb>
                        <rp>/</rp>
                        <rt>{{ reading }}</rt>
                        <rp>/</rp>
                    </ruby>
                {%- endfor %}
            </a>
        </div>
        <div id="collapse{{ loop.index }}" class="accordion-body collapse">
            <div class="accordion-inner">
                <p>{{ example.get('translation') }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>


{% endblock %}
